<header>
    <nav>
        <center>
        <ul>
        <li><a href="/index">Ir para a página INDEX</a></li>
        <li><a href="/sobre">Ir para a página SOBRE</a></li>
        <% if(!req.session.loggedin) { %>
            <li><a href="/cadastro">Ir para a página CADASTRO</a></li>
            <li><a href="/login">Ir para a página LOGIN</a></li>
            <% } else { %>
                <li><a href="/dashboard">Ir para a página DASHBOARD</a></li>
                <a href="/logout">Fazer LOGOUT</a>
                <br>
                <% } %>
        </ul>
        </center>
    </nav>
</header>