<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
    
<%- include ("../partials/menu")%>
    <br><br><br>
<center><img src='../../static/cadastrado com sucesso 2.jpg' width="35%" height="350" a href/></center>
    <br><br><center>
     <br></center>
    <%- include ("../partials/footer")%>
    
</body>
</html>