<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>

<%- include ("../partials/menu")%>
<center>
  <br><br>
 <h1>CADASTRO</h1><br>
<main>
    <form action="/cadastro" method="post" class="formItens">
       Nome:
      <input type="text" name="username" id="username" placeholder="Cadastre seu nome de usuário"><br>
      Senha:
      <input type="password" name="password" id="senha" placeholder="Cadastre sua senha"><br><br><br>
      <button type="submit">Cadastrar</button>
    </form>
<br>
    <a href="login"> Já tenho cadastro</a>
</main><br><br><br><br><br>

</center>
<%- include ("../partials/footer")%>
</body>


</html>