<!DOCTYPE html>
<html lang="en">


<%- include ("../partials/head"); %>
<body>
<center>
Página DASHBOARD <br></center> 


<%- include ("../partials/menu"); %>
<main>
    <center><br><br><br>
    <%- include ("../partials/usertable"); %></center>
</main>
<%- include ("../partials/footer"); %>
</body>
</html>