<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
<center>
    
    <%- include ("../partials/menu")%>
    <br><br>
    Página Home</center>
    <br><br><br>
    <center><img src='../../static/tamba2.jpeg' width="30%" height="250" a href/></center>
    <center><img src='../../static/tamba1.jpeg' width="30%" height="250" a href/></center>
    <center><img src='../../static/img2.jpeg' width="30%" height="250" a href/></center>
    <br><br>
    <br><br><br>
    <%- include ("../partials/footer")%>
    
    
</body>
</html>