<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
<center>
    
    <%- include ("../partials/menu")%>
    <br><br>
    Página Home</center>
    <br><br><br>
    <center><img src='./static/pesca.jfif' a href/></center>
    <br><br><br>
    <%- include ("../partials/footer")%>
    
    
</body>
</html>