<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
<center>
    Página INDEX</center>
    

    <%- include ("../partials/menu")%>
    <center><img src='./static/pesca.jfif' a href/></center>
    <%- include ("../partials/footer")%>
    
    
</body>
</html>