<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
<center>
Página LOGIN <br></center>


<%- include ("../partials/menu")%>
<%- include ("../partials/footer")%>
</body>

</html>