<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

  <body>
    <%- include ("../partials/menu")%>
      <main>
        <br><br>
        <center><h1>LOGIN</h1></center>
        <center><br>
          <form action="/login" method="post" class="formItens">
            Nome:
            <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br>
            Senha:
            <input type="password" name="password" id="senha" placeholder="Digite sua senha"><br><br><br>
            <button type="submit">Entrar</button>
          </form>
          <br>
    <a href="cadastro"> Não tenho login</a>
        </center>
      </main><br><br><br><br><br>
      <%- include ("../partials/footer")%>


  </body>

</html>