<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
<%- include ("../partials/menu")%>
<main>
  <center><br><br><br><br><br><br><br><br><br>
    <form action="/login" method="post" class="formItens">
      Seu nome:
      <input type="text" name="username" id="username" placeholder="Digite seu nome de usuário"><br>
      Senha:
      <input type="password" name="password" id="senha" placeholder="Digite sua senha"><br>
      <button type="submit">Entrar</button>
    </form>
    </center>
</main>
    <%- include ("../partials/footer")%>

    
</body>
</html>