<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>
    <%- include ("../partials/menu")%>
    <br><br>
<br><br>
<center><div class="cont"><img src='../../static/not found.png' width="35%" height="350" a href/></center>
    </div>
    <br><br>
    <center>
    <a href="cadastro"> Voltar</a>
    </center>
    <br>
    <%- include ("../partials/footer")%>
</body>
</html>