<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

<body>

    <%- include ("../partials/menu")%>
    <br><br>
    <center>
    Página Sobre <br> </center>
    <br><br><br>
    <center><img src='../../static/img3.jpeg' width="30%" height="250" a href/></center>
    <br><br>
    <center>
    A pesca esportiva, também conhecida como pesca recreativa ou amadora, é uma atividade de lazer que busca a captura de peixes,<br>
    não para consumo ou comércio, mas sim para o desafio e a emoção de pescar. A principal característica é a devolução dos peixes à água após a captura, <br>
    com o objetivo de preservar a fauna e promover a sustentabilidade. 
    </center>
    <br><br>
    <%- include ("../partials/footer")%>
</body>



</html>